@model List<CzyDobre.Models.AspNetUser>
@using CzyDobre.Models
@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    DBEntities db = new DBEntities();
    ApplicationDbContext context;
    context = new ApplicationDbContext();
}
<div class="role-div">
    <h2 style="text-align: center;">Panel roli 2.0</h2>
    <div class="buttonRole">
        <hr />
        @Html.ActionLink("Stwórz nową rolę", "Create", "RoleV2", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Usuń stworzoną rolę", "Delete", "RoleV2", null, new { @class = "btn btn-primary" })
        <hr />
    </div>
    <div style="text-align: center;">@Html.Partial("_Notifications")</div>
    <hr />
    <div class="table">
        <table id="role" class="table table-bordered table-hover display">
            <thead>
                <tr class="table-role">
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nick</th>
                    <th>Role</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Email</td>
                        <td>@item.NickName</td>
                        <td>
                            @{
                                var userRoles = (from user in context.Users
                                                      select new
                                                      {
                                                          RoleNames = (from userRole in user.Roles
                                                          join role in context.Roles on userRole.RoleId 
                                                          equals role.Id where user.Id == item.Id
                                                          select role.Name).ToList()
                                                      }).ToList().Select(p => new RoleViewModels()
                                                      {
                                                          Role = string.Join(", ", p.RoleNames)
                                                      });

                                foreach (var item2 in userRoles)
                                {
                                    @item2.Role;
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Przypisz rolę", "AssignRole", "RoleV2", new { idUser = item.Id, emailUser = item.Email }, new { @class = "btn btn-success" })
                            <hr />
                            @Html.ActionLink("Usuń przypisaną rolę", "#", "#", new { }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#role').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/pl.json"
                }
            });
        });
    </script>
}