<footer class="footer bg-dark text-white">
    <div class="footer-copyright text-center container">
        <div class="row padding-footer">
            <ul class="col-12 col-sm-6 col-lg-4 footer-list rounded text-left">
                <li class="footer-section-name mb-2 text-center">Wsparcie</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home", null, new { style = "color:white" })</li>
            </ul>
            <ul class="col-12 col-sm-6 col-lg-4 footer-list rounded text-left">
                <li class="footer-section-name mb-2 text-center">Informacje</li>
                <li>@Html.ActionLink("Często zadawane pytania", "FAQ", "Home", null, new { style = "color:white" })</li>
                <li>@Html.ActionLink("O Nas", "About", "Home", null, new { style = "color:white" })</li>
                <li>@Html.ActionLink("Regulamin", "Policies", "Home", null, new { style = "color:white" })</li>
            </ul>
            <ul class="col-12 col-sm-6 col-lg-4 pl-3 footer-list rounded text-left">
                <li class="footer-section-name mb-2 text-center">Menu</li>
                <li>@Html.ActionLink("Strona główna", "Index", "Home", null, new { style = "color:white" })</li>
                <li>@Html.ActionLink("Przeglądaj", "Opinion", "Home", null, new { style = "color:white" })</li>
            </ul>
        </div>
    </div>
        @Html.Partial("_SocialPartial")
</footer>