<footer class="footer bg-dark text-white">
    <div class="footer-copyright text-center container">
        <div class="row">
            <div class="col-md border-vertical-fade">
                @Html.ActionLink("Strona główna", "Index", "Home", null, new { style = "color:white" })
            </div>
            <div class="col-md border-vertical-fade">
                @Html.ActionLink("Informacje", "About", "Home", null, new { style = "color:white" })
            </div>
            <div class="col-md border-vertical-fade">
                @Html.ActionLink("Kontakt", "Contact", "Home", null, new { style = "color:white" })
            </div>
            <div class="col-md border-vertical-fade">
                @Html.ActionLink("Opinie", "Opinion", "Home", null, new { style = "color:white" })
            </div>
            <div class="col-md border-vertical-fade">
                @Html.ActionLink("Dodaj opinie", "AddOpinion", "Home", null, new { style = "color:white" })
            </div>
        </div>
    </div>
</footer>