<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl" class="width-100">
<head>
    <meta name="description" content="Znajdź najlepiej oceniane dania i restauracje, oceniane przez naszych użytkowników w Twojej okolicy! Sprawdź czy dobre już teraz na CzyDobre.pl &#127828; &#127829; &#127789;" />
    <meta name="keywords" content="czydobre, czydobre.pl, najlepszy, najlepsza, top, pizza, kebab, spaghetti, hamburger, jakość, znajdź, najlepiej, oceniane, dania" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CzyDobre.pl - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="width-100">
    <div class="login-container">
        @Html.Partial("_LoginPartial")
    </div>
    <div class="frontpage-image-container background-image-preserve-ratio align-items-center">
        <div class="row full-screen mr-0 ml-0">
            <div class="col-sm-12 mt-8">
                <div>
                    <p style="background-color: #FD695F; padding: 10px; color: black; font-size: 24px; text-align: center; font-family: Arial; ">
                        <span style="color: white">” </span><b>Uwaga: </b>Strona jest w budowie, jeżeli masz pomysł na nową funkcję i chcesz się tym z nami podzielić napisz do nas, o tutaj &#128073; <button style="font-size: 18px" type="button" onclick="location.href='kontakt'" class="btn btn-danger">KONTAKT</button><span style="color: white;"> „</span>
                    </p>
                </div>
                <div class="rectangular-triangle-bottom-left"></div>
                <div class="frontpage-container">
                    <div class="frontpage-searchbox-container col-lg-8 d-flex align-items-center justify-content-center">
                        <p class="frontpage-welcome-text">Witamy na CzyDobre.pl!</p>
                        <div class="w-100 my-3">
                            <form id="search-form" action="/Home/Results" class="input-group-lg input-group mx-auto col-sm-10 col-md-10 col-lg-8 col-xl-6">
                                <input type="search" class="form-control left-bullet-radius" placeholder="Wyszukaj..." aria-label="Search"
                                       aria-describedby="search-addon" />
                                <button type="button" onclick="location.href='wyniki'" class="btn btn-lg fa fa-search text-white right-bullet-radius"></button>
                            </form>
                        </div>
                        <p>Wypróbuj: Kebab, Spaghetti, Pizza!</p>
                    </div>
                </div>
                <div class="rectangular-triangle-top-right"></div>
            </div>
        </div>
    </div>
    @RenderBody()
    @Html.Partial("_FooterPartial")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
