<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl" class="width-100">
<head>
    <meta name="robots" content="index, follow">
    <meta name="description" content="Znajdź najlepiej oceniane dania w Twojej okolicy! Z nami znajdziesz łatwo i szybko najlepszy posiłek. Sprawdź czy dobre już teraz na CzyDobre.pl!" />
    <meta name="keywords" content="znajdź, szybko, teraz, już, dobre, czy, sprawdź, posiłek, najlepszy, łatwo, czydobre, czydobrepl, top, pizza, kebab, spaghetti, zapienkanka, hamburger, jakość, najlepiej, oceniane, dania, znajdź" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CzyDobre.pl - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    @Html.Partial("_GoogleAnalytics")
</head>
<body>
    @Html.Partial("_NavbarPartial")
    <div class="frontpage-image-container background-image-preserve-ratio align-items-center">
        <div class="frontpage-image-gradient">
            <div class="frontpage-container">
                <div class="frontpage-searchbox-container col-12 col-lg-8 col-xl-6  row align-items-center">
                    <p class="frontpage-welcome-text col-12 col-md-4 col-md">Czego szukasz?</p>
                    <div class="col-md">
                        <form id="search-form" action="/Home/Results" class="input-group-lg input-group mx-auto col">
                            <input type="search" class="form-control left-bullet-radius" placeholder="Wyszukaj..." aria-label="Search"
                                   aria-describedby="search-addon" />
                            <button type="button" onclick="location.href='wyniki'" class="btn btn-lg fa fa-search text-white right-bullet-radius"></button>
                        </form>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    @Html.Partial("_FooterPartial")
    @Html.Partial("_SocialPartial")
    @Styles.Render("~/Fontello/css/fontello")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
