<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CzyDobre.pl</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand pt-0 pb-0" href="#"><img src="~/image/czydobre.png" width="76" height="76"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto space-custom">
                <li class="nav-item pl-custom pr-5 active">
                    @Html.ActionLink("Strona główna", "Index", "Home", new { style = "color:white" })
                </li>
                <li class="nav-item pr-5 active">
                    @Html.ActionLink("Informacje", "About", "Home", new { style = "color:white" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Kontakt", "Contact", "Home", new { style = "color:white" })
                </li>
            </ul>
            <ul class="navbar-nav mr-right">
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content ">
        @RenderBody()
        <footer class="footer fixed-bottom bg-dark text-white pt-2 pb-2">
            <div class="footer-copyright text-center">
                © 2021 Copyright:
                <a> CzyDobre.pl</a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
