<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
<head>
    <meta name="robots" content="index, follow">
    <meta name="description" content="Znajdź najlepiej oceniane dania i restauracje w Twojej okolicy! Z nami znajdziesz łatwo i szybko najlepszy posiłek. Sprawdź czy dobre już teraz na CzyDobre.pl! 🌭 🍕 🍔" />
    <meta name="keywords" content="znajdź, szybko, teraz, już, dobre, czy, sprawdź, posiłek, najlepszy, łatwo, czydobre, czydobrepl, top, pizza, kebab, spaghetti, zapienkanka, hamburger, jakość, najlepiej, oceniane, dania, znajdź" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CzyDobre.pl - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body style="background-color: white;">
    <div class="login-container">
        @Html.Partial("_LoginPartial")
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Html.Partial("_FooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
