@using CzyDobre.IdentityExtensions
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav navbar-nav navbar-right">
            <div class="btn-group">
                <a href="/Manage" id="navbar-avatar">
                    <img src="@User.Identity.GetAvatarURL()" />
                </a>
                <div class="btn dropdown-toggle d-flex align-items-center text-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
                <div class="dropdown-menu position-absolute" style="left:auto; right:0;">
                    @Html.ActionLink("Ustawienia", "Index", "Manage", null, new { @class = "dropdown-item" })
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Zarządzaj rolami", "RoleList", "RoleV2", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Zarządzaj użytkownikami", "UserList", "User", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Zarządzaj produktami", "ProduktList", "Produkt", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Zarządzaj opiniami", "OpiniaList", "Opinia", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Moje Opinie", "MojaOpinia", "MyOpinion", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Moje Produkty", "MojProdukt", "MyProduct", null, new { @class = "dropdown-item" })

                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
                    {
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Zarządzaj produktami", "ProduktList", "Produkt", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Zarządzaj opiniami", "OpiniaList", "Opinia", null, new { @class = "dropdown-item" })
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Zarządzaj produktami", "ProduktList", "Produkt", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Zarządzaj opiniami", "OpiniaList", "Opinia", null, new { @class = "dropdown-item" })
                    }




                    <div class="dropdown-divider"></div>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Wyloguj</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="pr-4">@Html.ActionLink("Zarejestruj", "Register", "Account", null, new { id = "registerLink", @class = "text-light" })</li>
        <li class="pr-4">@Html.ActionLink("Zaloguj", "Login", "Account", null, new { id = "loginLink", @class = "text-light" })</li>
    </ul>
}
