@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row p-3 px-lg-4 px-xl-5">
    <div class="col-md-3 pl-0 mb-4 mb-md-0">
        @Html.ActionLink("Zmień hasło", "ChangePassword", "Manage", null, new { @class = "btn text-body w-100 border" })
        @Html.ActionLink("Logowanie zewnętrzne", "ManageLogins", "Manage", null, new { @class = "btn text-body w-100 border" })
        @Html.ActionLink("Usuń konto", "DeleteAccount", "Manage", null, new { @class = "btn text-body w-100 border" })
    </div>
    <div class="col-md-9 px-3 pl-lg-4 pl-xl-5 mt-2 mt-sm-0">
        <h3>@ViewBag.Title</h3>
        <hr />
        @RenderBody()
    </div>
</div>