@model CzyDobre.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h2 class="text-center h4title mt-4">Lub</h2>
<h4>Zaloguj się za pomocą innej usługi</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Tymczasowo niedostępne...
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <div class="OAuth-list">
                            <button type="submit" class="OAuth-Button-@p.AuthenticationType.ToString() icon-@p.AuthenticationType.ToLower()-rect icon-@p.AuthenticationType.ToLower()" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Zaloguj się przy użyciu konta @p.Caption">    Zaloguj się za pomocą @p.AuthenticationType</button>
                        </div>
                    }
                </p>
            </div>
        }
    }
}
