@model CzyDobre.Models.RegisterViewModel
@{
    ViewBag.Title = "RegisterRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="role-div">
    <h2>Przypisz rolę</h2>
    @using (Html.BeginForm("RegisterRole", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Wybierz użytkownika", new { @class = "select-list-title" })
            <div class="select-list-role">
                @Html.DropDownList("UserName", "---Wybierz użytkownika---")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Wybierz rolę do przypisania", new { @class = "select-list-title" })
            <div class="select-list-role">
                @Html.DropDownList("Name", "---Wybierz rolę---")
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-success button-save-role" value="Przypisz rolę" />
            </div>
        </div>
        <div style="text-align: center;">@Html.Partial("_Notifications")</div>
    }
    @Html.ActionLink("Wróć do listy", "Index", "Role", null, new { @class = "btn btn-info" })
</div>
