@model CzyDobre.Models.AvatarViewModel
@{
    ViewBag.Title = "Awatar";
    Layout = "~/Views/Shared/_UserSettingsLayout.cshtml";
}
<div>
    <div class="awatar-div">
        <h5>Aktualny awatar</h5>
        <img src="@Html.DisplayFor(m => m.AvatarUrl)" alt="Awatar użytkownika" class="awatar-image">
    </div>
    <hr />
    @using (Html.BeginForm("ChangeAvatar", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "Loading()" }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            @Html.HiddenFor(m => m.AvatarUrl)
            <h5 style="text-align:center">Nowy awatar</h5>
            <div id="dropSpot" class="position-relative mx-auto d-flex flex-column col-12 col-lg-6 p-0">
                <label for="Icon" class="drag-and-drop-preview m-0">
                    <img src="" id="previewMain" class="drag-and-drop-preview-main d-none" />
                </label>
                @Html.TextBoxFor(m => m.Icon, new { type = "file", @class = "drag-and-drop-file", accept = "image/png, image/jpeg, image/jpg" })
                @Html.ValidationMessageFor(m => m.Icon, "", new { @class = "text-danger" })
                <i class='fa fa-times drag-and-drop-remove'></i>
            </div>
            <p style="text-align: center; padding: 3px;">Aby zmienić awatar należy kliknąć obrazek Dodaj zdjęcia</p>
            <script defer src="~/Scripts/DragAndDropSingle.js"></script>
            <div class="form-group" align="center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zapisz zmiany" class="btn btn-success" onclick="return confirm('Czy na pewno chcesz ZAPISAĆ ZMIANY?');" />
                </div>
            </div>
            <div style="text-align: center;">@Html.Partial("_Notifications")</div>
        </div>
    }
</div>
@Html.Partial("_Loading")
