@model CzyDobre.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmień hasło";
    Layout = "~/Views/Shared/_UserSettingsLayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "px-4 mb-1 control-label" })
        <div class="col-md-10 p-0">
            @Html.PasswordFor(m => m.OldPassword, new { placeholder="Stare hasło...", @class = "px-4 form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "px-4 mb-1 control-label" })
        <div class="col-md-10 p-0">
            @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Nowe hasło...", @class = "px-4 form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "px-4 mb-1 control-label" })
        <div class="col-md-10 p-0">
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Potwierdź nowe hasło...", @class = "px-4 form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zmień hasło" class="btn btn-success float-right" />
        </div>
    </div>
}