@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}

<div class="role-div">
    <h2>Panel Roli</h2>
    <hr />
    <div class="buttonRole">
        @Html.ActionLink("Stwórz nową rolę", "Create", "Role", null, new { @class = "btn btn-primary" })

        @Html.ActionLink("Wyświetl stworzone role", "DisplayRole", "Role", null, new { @class = "btn btn-primary" })

        @Html.ActionLink("Usuń stworzoną rolę", "Delete", "Role", null, new { @class = "btn btn-primary" })

        @Html.ActionLink("Przypisz rolę użytkownikowi", "RegisterRole", "Account", null, new { @class = "btn btn-primary" })

        @Html.ActionLink("Usuń rolę użytkownikowi", "DeleteRole", "Account", null, new { @class = "btn btn-primary" })

        <hr />
    </div>

    <div class="table">
        <table id="roles" class="table table-bordered table-hover display">
            <thead>
                <tr class="table-role">
                    <th>ID Użytkownika</th>
                    <th>Nazwa Użytkownika</th>
                    <th>ID Roli</th>
                    <th>Nazwa Roli</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdUser</td>
                        <td>@item.Email</td>
                        <td>@item.IdRole</td>
                        <td>@item.Role</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#roles').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/pl.json"
                }
            });
        });
    </script>
}