@using CzyDobre.Models
@using reCAPTCHA.MVC
@model AddOpinionViewModels
@{
    ViewBag.Title = "Dodaj opinie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12 h-max">
        <h1 class="titleH1">@ViewBag.Title</h1>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            using (Html.BeginForm("AddOpinion", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "Loading()" }))
            {
                @Html.AntiForgeryToken()
    <div class="form-group" align="center">

        
        @Html.Label("Wszukaj Danie !", new { @class = "col-md-2 control-label" })
        <div class="col-md-10 ui-widget">



            
            @Html.TextBoxFor(m => m.PName, new { @class = "pl-4 form-control", @id = "ProductSE" })
            




            <script defer src="~/Scripts/AutoComplete.js"></script>
            <!-- Html.DropDownListFor(m => m.Id_Product, ViewBag.ProductsList as SelectList, "--Wybierz Produkt--", new { class = "pl-4 form-control" }) -->
        </div>

        @Html.ActionLink("Nie widzisz swojego dania na liście? Kliknij tutaj,aby je dodać", "AddProducts", "Home", null)
        </div>

                <div class="form-group" align="center">
                    @Html.LabelFor(m => m.RateService, new { @class = "col-md-1 control-label" })

                    @Html.RadioButton("RateService", 1, new { @class = " control-label" })
                    @Html.RadioButton("RateService", 2, new { @class = " control-label" })
                    @Html.RadioButton("RateService", 3, new { @class = " control-label" })
                    @Html.RadioButton("RateService", 4, new { @class = " control-label" })
                    @Html.RadioButton("RateService", 5, new { @class = " control-label" })



                    @Html.LabelFor(m => m.RateIngredients, new { @class = "col-md-1 control-label" })

                    @Html.RadioButton("RateIngredients", 1, new { @class = " control-label" })
                    @Html.RadioButton("RateIngredients", 2, new { @class = " control-label" })
                    @Html.RadioButton("RateIngredients", 3, new { @class = " control-label" })
                    @Html.RadioButton("RateIngredients", 4, new { @class = " control-label" })
                    @Html.RadioButton("RateIngredients", 5, new { @class = " control-label" })



                    @Html.LabelFor(m => m.RateTaste, new { @class = "col-md-1 control-label" })

                    @Html.RadioButton("RateTaste", 1, new { @class = " control-label" })
                    @Html.RadioButton("RateTaste", 2, new { @class = " control-label" })
                    @Html.RadioButton("RateTaste", 3, new { @class = " control-label" })
                    @Html.RadioButton("RateTaste", 4, new { @class = " control-label" })
                    @Html.RadioButton("RateTaste", 5, new { @class = " control-label" })


                </div>
                <div class="form-group" align="center">

                    @Html.Label("Lokalizacja", new { @class = "col-md-2 control-label"  })
                    @Html.TextBoxFor(m=>m.LocName,new { @class = "col-md-2 control-label", @id = "pac-input", @type = "text", @placeholder = "Search Box" })
                   
                    <div id="map" style="width: 500px; height: 500px">

                    </div>

                    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                    <script src="~/Scripts/GeoMapa.js"></script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw4M0s-wdhkjGK1L5BkWzyilxKp15QnGY&callback=initAutocomplete&libraries=places&v=weekly"
                            async></script>




                </div>


                <div class="form-group" align="center">
                    @Html.LabelFor(m => m.Review, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Review, new { @class = "pl-6 form-control", @rows = "10" })
                        @Html.ValidationMessageFor(m => m.Review, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" align="center">
                    @Html.LabelFor(m => m.Photo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Photo, new { type = "file", multiple = "multiple", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })
                        <p style="text-align: left; padding: 3px;">Maksymalna wielkość zdjęć wynosi 5MB. Możliwe formaty .png lub .jpeg</p>
                    </div>
                </div>
                <div class="form-group" align="center">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Wyślij" class="btn btn-success" style="font-size: 20px" />
                    </div>
                </div>
                <div style="text-align: center;">@Html.Partial("_Notifications")</div>
            }
        }
        else
        {
            <h2 style="text-align: center">Już wkrótce dostępne!</h2>
        }
    </div>
            </div>
@Html.Partial("_Loading")
