@using CzyDobre.Models
@using reCAPTCHA.MVC
@model AddOpinionViewModels
@{
    ViewBag.Title = "Dodaj opinie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12 h-max">
        <h1 class="titleH1">@ViewBag.Title</h1>
        @if (User.Identity.IsAuthenticated /* && User.IsInRole("Admin")*/)
        {
            using (Html.BeginForm("AddOpinion", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "Loading()" }))
            {
                @Html.AntiForgeryToken()
        <style>
                .imageClass {
                    width: 100px;
                    height: 100px;
                }
            </style>    
        <div class="row flex-column flex-lg-row">
                <div id="dropSpot" class="position-relative d-flex flex-column col-12 col-lg-6 p-0">
                    <label for="Photo" class="drag-and-drop-preview m-0">
                        <img src="" id="previewMain" class="drag-and-drop-preview-main d-none" />
                    </label>
                    <div id="dropContainer" class="w-100 p-2 alert-dark">
                        <div class="drag-and-drop-preview-miniature-add">
                            <label for="Photo"></label>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.Photo, new { type = "file", multiple = "multiple", @class = "drag-and-drop-file", accept= "image/png, image/jpeg, image/jpg" })
                    @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })
                </div>
                <script defer src="\Scripts\DragAndDrop.js"></script>
                <div class="col-12 col-lg-6">
                    <div class="form-group" align="center">
                        <div style="text-align: center;">@Html.Partial("_Notifications")</div>
                        @Html.Label("Danie: ", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10 ui-widget">
                            @Html.TextBoxFor(m => m.PName, new { @class = "pl-4 form-control", @id = "ProductSE", @placeholder = "Wpisz nazwę dania, które chcesz wyszukać." })
                            @Html.ValidationMessageFor(m => m.PName, "", new { @class = "text-danger" })
                            <script defer src="~/Scripts/AutoComplete.js"></script>
                            
                        </div>
                        <div>
                            @Html.ActionLink("Nie widzisz swojego dania na liście? Kliknij tutaj, aby je dodać.", "AddProducts", "Home", null, new { @class = "btn btn-link" })
                        </div>
                    </div>
                    <div class="form-group row" align="center">
                        @{
                            <div class="col px-1">
                                <span class="d-block mb-1">Obsługa</span>
                                @for (int i = 1; i < 6; i++)
                                {<label class="radio-button">@Html.RadioButton("RateService", i, new { @class = " control-label" })<span class="radio-button-mark"></span></label>}
                                @Html.ValidationMessageFor(m => m.RateService, "", new { @class = "text-danger" })
                            </div>
                            <div class="col px-1">
                                <span class="d-block mb-1">Cena</span>
                                @for (int i = 1; i < 6; i++)
                                {<label class="radio-button">@Html.RadioButton("RateIngredients", i, new { @class = " control-label" })<span class="radio-button-mark"></span></label>}
                                @Html.ValidationMessageFor(m => m.RateIngredients, "", new { @class = "text-danger" })
                            </div>
                            <div class="col px-1">
                                <span class="d-block mb-1">Smak</span>
                                @for (int i = 1; i < 6; i++)
                                {<label class="radio-button">@Html.RadioButton("RateTaste", i, new { @class = " control-label" })<span class="radio-button-mark"></span></label>}
                                @Html.ValidationMessageFor(m => m.RateTaste, "", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                    <div class="form-group" align="center">
                        @Html.LabelFor(m => m.Review, new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Review, new { @class = "pl-6 form-control", @rows = "10",@placeholder = "Wpisz swój komentarz (Opcjonalne)" })
                            @Html.ValidationMessageFor(m => m.Review, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Wyślij" class="btn btn-success" style="font-size: 20px" />
                        </div>
                    </div>
                </div>
            </div>
            }
        }
        else
        {
            <h2 style="text-align: center">Już wkrótce dostępne!</h2>
        }
    </div>
            </div>
@Html.Partial("_Loading")
