@using CzyDobre.Models
@using reCAPTCHA.MVC
@model ProductFormModels
@{
    ViewBag.Title = "Dodawanie produktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12 h-max">
        <div style="text-align: center;">@Html.Partial("_Notifications")</div>
        <h1 class="titleH1">@ViewBag.Title</h1>
        @using (Html.BeginForm("AddProducts", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "Loading()" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group" align="center">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ProductName, new { placeholder = "Wpisz nazwę dla nowego produktu", @class = "pl-4 form-control" })
                    @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" align="center">
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.ProductDescription, new { placeholder = "Wpisz opis produktu(Opcjonalne)", @class = "pl-4 form-control" })
                    @Html.ValidationMessageFor(m => m.ProductDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" align="center">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.CategoryName, new { placeholder = "Wpisz poszukiwaną kategorie", @class = "pl-4 form-control", @id = "CatSE" })
                    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })

                    <script defer src="~/Scripts/AutoCompleteCat.js"></script>
                </div>
            </div>

            <div class="form-group" align="center">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LocName, new { @placeholder = "Znajdz restauracje", @class = "pl-4 form-control", @id = "pac-input" })
                    @Html.ValidationMessageFor(m => m.LocName, "", new { @class = "text-danger" })
                    <!-- <script defer src="~/Scripts/AutoCompleteCity.js"></script> -->
                </div>

                <div id="map" style="width: 500px; height: 500px">

                </div>


                <script src="~/Scripts/GeoMapa.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0tuBXTLrvFzw5UpAYttcdI33TZ4Bs3Mg&callback=initAutocomplete&libraries=places&v=weekly"
                        async></script>


            </div>







            <div class="form-group" align="center">
                <div class="col-md-10">
                    @Html.Label("Wstaw Zdjęcie Katalogowe:", new { @class = "col-md-4 control-label" })
                    <div id="dropSpot" class="position-relative d-flex flex-column col-12 col-lg-6 p-0">
                        <label for="Icon" class="drag-and-drop-preview m-0">
                            <img src="" id="previewMain" class="drag-and-drop-preview-main d-none" />
                        </label>
                        @Html.TextBoxFor(m => m.Icon, new { type = "file", @class = "drag-and-drop-file", accept = "image/png, image/jpeg, image/jpg" })
                        @Html.ValidationMessageFor(m => m.Icon, "", new { @class = "text-danger" })
                        <i class='fa fa-times drag-and-drop-remove'></i>
                    </div>
                    <script defer src="~/Scripts/DragAndDropSingle.js"></script>


                    <p style="text-align: left; padding: 3px;">Maksymalna wielkość załącznika wynosi 5MB</p>
                </div>
            </div>



            <div class="form-group" align="center">
                <div class="col-md-10">
                    <!--
                Html.TextBoxFor(m => m.Image, new { type = "file", multiple = "multiple", class = "form-control" })
                <p style="text-align: left; padding: 3px;">Maksymalna wielkość załącznika wynosi 5MB</p> -->

                </div>
            </div>


            <div class="form-group" align="center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Wyślij" class="btn btn-success" style="font-size: 20px" />
                </div>
            </div>

            @Html.HiddenFor(m => m.Country, new { @id = "txtCountry" })
            @Html.HiddenFor(m => m.State, new { @id = "txtState" })
            @Html.HiddenFor(m => m.ZipCode, new { @id = "txtZip" })
            @Html.HiddenFor(m => m.City, new { @id = "txtCity" })

            






        }
    </div>
</div>
@Html.Partial("_Loading")
