@{
    ViewBag.Title = "Losuj Danie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated /* && User.IsInRole("Admin")*/)
{
    <div style="text-align: center;">@Html.Partial("_Notifications")</div>
    using (Html.BeginForm("GetDish", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "Loading()" }))
    {
        @Html.AntiForgeryToken()

        <h1 class="titleH1">@ViewBag.Title</h1>
        <div class="mb-2" data-toggle="collapse" href="#komunikat" role="button" aria-expanded="false" aria-controls="komunikat">
            <span class="font-weight-bold">Pomoc</span>
            <span class="fa fa-angle-down"></span>
        </div>
        <div class="collapse" id="komunikat">
            <div class="p-3">
                <p style="text-indent:1em;">
                    Nie wiesz co zjeść? Nie masz pomysłu ,ani czasu na planowanie? <br />
                    Tutaj za jednym kliknięciem ,możesz wylosować danię które Ci przypadnie do gustu! <br / />
                    Jeżeli nie trafisz za pierwsyzm razem ,nie przejmuj się i wylosuj ponownie ;). Smacznego !
                </p>
            </div>
        </div>

        <div class="form-group" align="center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Losuj ponownie" class="btn btn-success" style="font-size: 20px" />
            </div>
        </div>

    }
}

<div class="row">
    @{
        if (Model != null)
        {
            foreach (var Data in Model)
            {
                string link = "opinia/" + Data.RatingId.ToString();
                <div class="browse-card position-relative col-12 col-md-6 col-lg-4 p-2">
                    <h6 class="card-title text-center my-0 py-1">@Data.ProductName</h6>
                    <div class="card flex-column flex-sm-row flex-md-column flex-lg-row p-0 rounded-0">
                        <div class="browse-image-wrapper col-sm-9 col-md-12 col-lg-8 p-0">
                            @{
                                if (Data.ImageUrls.Count > 0 && !String.IsNullOrEmpty(Data.ImageUrls[0]))
                                {
                                    string temp = Data.ImageUrls[0];
                                    Data.ImageUrls[0] = "https://res.cloudinary.com/czydobre-pl/image/upload/v1636896902/CzyDobre-images/";
                                    Data.ImageUrls[0] += temp;
                                }
                                else
                                {
                                    Data.ImageUrls.Add("https://via.placeholder.com/1080");
                                }
                            }
                            <img src="@Url.Content(Data.ImageUrls[0])" />
                        </div>
                        <div class="p-2 col-sm-3 col-md-12 col-lg-4">
                            <div class="card-text row flex-row flex-sm-column flex-md-row flex-lg-column">
                                <div class="text-center col-4 col-sm-12 col-md-4 col-lg-12 p-0">
                                    @{
                                        <label class="my-1 col-12">Obsługa</label>
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (i < Convert.ToInt32(Data.RateService))
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star-o"></span>
                                            }
                                        }
                                    }
                                </div>
                                <div class="text-center col-4 col-sm-12 col-md-4 col-lg-12 p-0">
                                    @{
                                        <label class="my-1 col-12">Smak</label>
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (i < Convert.ToInt32(Data.RateTaste))
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star-o"></span>
                                            }
                                        }
                                    }
                                </div>
                                <div class="text-center col-4 col-sm-12 col-md-4 col-lg-12 p-0">
                                    @{
                                        <label class="my-1 col-12">Cena</label>
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (i < Convert.ToInt32(Data.RateIngredients))
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star-o"></span>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action(link)" class="stretched-link"></a>
                </div>
            }
        }
        else
        {
            <p>Wystąpił błąd.</p>
        }

    }

</div>

