@model CzyDobre.Models.RattingViewModel
@{
    ViewBag.Title = "Sprawdź Czy Dobre!";
    Layout = "~/Views/Shared/_FrontpageLayout.cshtml";
}
@section scripts {

    <script src="@Url.Content("~/Scripts/ratting.js")"></script>
    <script src="@Url.Content("~/Scripts/rattingMobile.js")"></script>
}



<div class="bg-white container">
    <p class="section-header">Popularne</p>
    <hr class="section-line">
    <div class="mt-0 mb-0 mr-0 ml-0 d-sm-none ">
        <div class="row d-sm-none pt-5 ml-0 mr-0">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <figure class="figure">
                                <img src="@Model.Image1" class="figure-img img-fluid  heightimg" alt="Most popular product" />
                                <div class="text-center heighttitle pt-2 text-yellow " id="ProductName1m">
                                </div>
                                <div class="review first">
                                    <div class="row">
                                        <div class="col-3 category">Smak: </div>
                                        <div class="star-rating col-9" id="taste-1m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Obsługa: </div>
                                        <div class="star-rating col-9" id="service-1m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Cena: </div>
                                        <div class="star-rating col-9" id="ingredients-1m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                </div>
                                <div class="countreviews text-center">
                                    <div class="d-inline count_place" id="CountRate1m">
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure">
                                <img src="@Model.Image2" class="figure-img img-fluid  heightimg" alt="Most popular product" />
                                <div class="text-center heighttitle pt-2 text-yellow " id="ProductName2m">
                                </div>
                                <div class="review first">
                                    <div class="row">
                                        <div class="col-3 category">Smak: </div>
                                        <div class="star-rating col-9" id="taste-2m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Obsługa: </div>
                                        <div class="star-rating col-9" id="service-2m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Cena: </div>
                                        <div class="star-rating col-9" id="ingredients-2m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                </div>
                                <div class="countreviews text-center">
                                    <div class="d-inline count_place" id="CountRate2m"></div>
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure">
                                <img src="@Model.Image3" class="figure-img img-fluid  heightimg" alt="Most popular product" />
                                <div class="text-center heighttitle pt-2 text-yellow " id="ProductName3m">
                                </div>
                                <div class="review first">
                                    <div class="row">
                                        <div class="col-3 category">Smak: </div>
                                        <div class="star-rating col-9" id="taste-3m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Obsługa: </div>
                                        <div class="star-rating col-9" id="service-3m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Cena: </div>
                                        <div class="star-rating col-9" id="ingredients-3m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                </div>
                                <div class="countreviews text-center">
                                    <div class="d-inline count_place" id="CountRate3m"></div>
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure">
                                <img src="@Model.Image4" class="figure-img img-fluid  heightimg" alt="Most popular product" />
                                <div class="text-center heighttitle pt-2 text-yellow " id="ProductName4m">
                                </div>
                                <div class="review first">
                                    <div class="row">
                                        <div class="col-3 category">Smak: </div>
                                        <div class="star-rating col-9" id="taste-4m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Obsługa: </div>
                                        <div class="star-rating col-9" id="service-4m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Cena: </div>
                                        <div class="star-rating col-9" id="ingredients-4m">
                                            <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                                        </div>
                                    </div>
                                </div>
                                <div class="countreviews text-center">
                                    <div class="d-inline count_place" id="CountRate4m"></div>
                                </div>
                            </figure>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="d-none d-sm-block popular-bacground text-yellow">
        <div class="row">
            <div class="col-6 col-lg-3 mt-5">
                <figure class="figure">
                    <img src="@Model.Image1" class="figure-img img-fluid  heightimg" alt="Most popular product" />
                    <div class="text-center heighttitle pt-2 text-yellow" id="ProductName1">
                    </div>
                    <div class="review first">
                        <div class="row">
                            <div class="col-3 category">Smak: </div>
                            <div class="star-rating col-9" id="taste-1">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Obsługa: </div>
                            <div class="star-rating col-9" id="service-1">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Cena: </div>
                            <div class="star-rating col-9" id="ingredients-1">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="1.1">
                            </div>
                        </div>
                    </div>
                    <div class="countreviews text-center">
                        <div class="d-inline count_place" id="CountRate1"></div>  
                    </div>
                </figure>
            </div>
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="@Model.Image2" class="figure-img img-fluid  heightimg" alt="zapieksa" />
                    <div class="text-center heighttitle pt-2 text-yellow" id="ProductName2">

                    </div>
                    <div class="review">
                        <div class="row">
                            <div class="col-3 category">Smak: </div>
                            <div class="star-rating col-9" id="taste-2">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Obsługa: </div>
                            <div class="star-rating col-9" id="service-2">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Cena: </div>
                            <div class="star-rating col-9" id="ingredients-2">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="1">
                            </div>
                        </div>
                    </div>
                    <div class="countreviews text-center">
                        <div class="d-inline count_place" id="CountRate2"></div> 
                    </div>
                </figure>
            </div>
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="@Model.Image3" class="figure-img img-fluid  heightimg" alt="lod" />
                    <div class="text-center heighttitle pt-2 text-yellow" id="ProductName3">

                    </div>
                    <div class="review">
                        <div class="row">
                            <div class="col-3 category">Smak: </div>
                            <div class="star-rating col-9" id="taste-3">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Obsługa: </div>
                            <div class="star-rating col-9" id="service-3">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Cena: </div>
                            <div class="star-rating col-9" id="ingredients-3">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="3">
                            </div>
                        </div>
                    </div>
                    <div class="countreviews text-center">
                        <div class="d-inline count_place" id="CountRate3"></div> 
                    </div>
                </figure>
            </div>
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="@Model.Image4" class="figure-img img-fluid  heightimg" alt="cheesburger" />
                    <div class="text-center heighttitle pt-2 text-yellow" id="ProductName4">

                    </div>
                    <div class="review">
                        <div class="row">
                            <div class="col-3 category">Smak: </div>
                            <div class="star-rating col-9" id="taste-4">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Obsługa: </div>
                            <div class="star-rating col-9" id="service-4">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Cena: </div>
                            <div class="star-rating col-9" id="ingredients-4">
                                <span class="fa fa-star-o " data-rating="1"></span><span class="fa fa-star-o " data-rating="2"></span><span class="fa fa-star-o " data-rating="3"></span><span class="fa fa-star-o " data-rating="4"></span><span class="fa fa-star-o " data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="3">
                            </div>
                        </div>
                    </div>
                    <div class="countreviews text-center">
                        <div class="d-inline count_place" id="CountRate4"></div>
                    </div>
                </figure>
            </div>
        </div>
    </div>

</div>