@{
    ViewBag.Title = "Opinie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    <script src="@Url.Content("~/Scripts/sort.js")"></script>
    <script src="@Url.Content("~/Scripts/filtr.js")"></script>
}

<div class="row mb-5 mt-3">
    <div class=" col-12 col-md-2 mt-0 mb-3">
        <select name="sort" id="sort">
            <option value="0" id="tekst" disabled selected hidden>Sortowanie</option>
            <option value="1">A-Z </option>
            <option value="2">Z-A</option>
            <option value="3">Najpopularniejsze</option>
            <option value="4">Ostatnio dodane</option>
        </select>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-4">
        <div class="sortowanie">
            <span class="d-block mb-3 average">Filtorwanie:</span>
            <div class="d-inline mr-5">
                <select name="filtr1" id="filtr1">
                    <option value="0" disabled selected hidden>Smak</option>
                    <option value="1">2-5 </option>
                    <option value="2">3-5</option>
                    <option value="3">4-5</option>
                    <option value="4">5</option>
                </select>
            </div>
            <div class="d-inline mr-5">
                <select name="filtr2" id="filtr2">
                    <option value="0" disabled selected hidden>Obsługa</option>
                    <option value="1">2-5 </option>
                    <option value="2">3-5</option>
                    <option value="3">4-5</option>
                    <option value="4">5</option>
                </select>
            </div>
            <div class="d-inline">
                <select name="filtr3" id="filtr3">
                    <option value="0" disabled selected hidden>Cena</option>
                    <option value="1">2-5 </option>
                    <option value="2">3-5</option>
                    <option value="3">4-5</option>
                    <option value="4">5</option>
                </select>
            </div>
        </div>
        <button id="reset" class="reset">RESET</button>
    </div>
</div>

<div class="row">
    @{
        if (Model != null)
        {
            foreach (var Data in Model)
            {
                string link = "opinia/" + Data.RatingId.ToString();
                <div class="browse-card position-relative col-12 col-md-6 col-lg-4 p-2">
                    <h6 class="card-title text-center my-0 py-1">@Data.ProductName</h6>
                    <div class="card flex-column flex-sm-row flex-md-column flex-lg-row p-0 rounded-0">
                        <div class="browse-image-wrapper col-sm-9 col-md-12 col-lg-8 p-0">
                            @{
                                if (Data.ImageUrls.Count > 0 && !String.IsNullOrEmpty(Data.ImageUrls[0]))
                                {
                                    string temp = Data.ImageUrls[0];
                                    Data.ImageUrls[0] = "https://res.cloudinary.com/czydobre-pl/image/upload/v1636896902/CzyDobre-images/";
                                    Data.ImageUrls[0] += temp;
                                }
                                else
                                {
                                    Data.ImageUrls.Add("https://via.placeholder.com/1080");
                                }
                            }
                            <img src="@Url.Content(Data.ImageUrls[0])" />
                        </div>
                        <div class="p-2 col-sm-3 col-md-12 col-lg-4">
                            <div class="card-text row flex-row flex-sm-column flex-md-row flex-lg-column">
                                <div class="text-center col-4 col-sm-12 col-md-4 col-lg-12 p-0">
                                    @{
                                        <label class="my-1 col-12">Obsługa</label>
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (i < Convert.ToInt32(Data.RateService))
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star-o"></span>
                                            }
                                        }
                                    }
                                </div>
                                <div class="text-center col-4 col-sm-12 col-md-4 col-lg-12 p-0">
                                    @{
                                        <label class="my-1 col-12">Smak</label>
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (i < Convert.ToInt32(Data.RateTaste))
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star-o"></span>
                                            }
                                        }
                                    }
                                </div>
                                <div class="text-center col-4 col-sm-12 col-md-4 col-lg-12 p-0">
                                    @{
                                        <label class="my-1 col-12">Cena</label>
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (i < Convert.ToInt32(Data.RateIngredients))
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star-o"></span>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action(link)" class="stretched-link"></a>
                </div>
            }
        }
        else
        {
            <p>Wystąpił błąd.</p>
        }
    }
</div>
@if (ViewBag.NumberOfPages>1) {
    RouteValueDictionary routeValues = new RouteValueDictionary(ViewContext.RouteData.Values);
    foreach (string key in Request.QueryString.Keys)
    {
        routeValues[key] = Request.QueryString[key].ToString();
    }
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                @{routeValues["page"] = 0;}
                @Html.ActionLink("Pierwsza", "Opinion", "Home", routeValues, new Dictionary<string, object> { { "class", "page-link" } })
            </li>
            @{
                int startPage = Math.Max(ViewBag.ActivePage - 2, 0);
                int endPage = Math.Min(ViewBag.ActivePage + 2, ViewBag.NumberOfPages-1);
                
                for (int i = startPage; i <= endPage; i++)
                {
                    string label = (i+1).ToString();
                    routeValues["page"] = i;
                    if (ViewBag.ActivePage == i)
                    {
                        <li class="page-item">@Html.ActionLink(label, "Opinion", "Home", routeValues, new Dictionary<string, object> { { "class", "page-link active bg-dark" } })</li>
                    }
                    else
                    {
                        <li class="page-item">@Html.ActionLink(label, "Opinion", "Home", routeValues, new Dictionary<string, object> { { "class", "page-link" } })</li>
                    }
                }
            }
        <li class="page-item">
            @{routeValues["page"] = ViewBag.NumberOfPages - 1;}
            @Html.ActionLink("Ostatnia", "Opinion", "Home", routeValues, new Dictionary<string, object> { { "class", "page-link" } })
        </li>
        </ul>
    </nav>
    <script>

    </script>
}
