@using CzyDobre.Models
@using reCAPTCHA.MVC
@model ChangeIMGViewModels
@{
    ViewBag.Title = "Zmień zdjęcie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12 h-max">
        <h1 class="titleH1">@ViewBag.Title</h1>
        <div align="center">
            <a class="btn btn-success" href="javascript:void(0);" onclick="history.go(-3);">Wróć do Moich Opinii</a>

        </div>
        <hr />
        <div style="text-align: center;">@Html.Partial("_Notifications")</div>
        @if (User.Identity.IsAuthenticated /* && User.IsInRole("Admin")*/)
        {
            using (Html.BeginForm("ChangeIMG", "MyOpinion", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "Loading()" }))
            {
                @Html.AntiForgeryToken()
                <style>
                    .imageClass {
                        width: 100px;
                        height: 100px;
                    }
                </style>


                <div class="form-group" align="center">

                    <div id="dropSpot" class="position-relative d-flex flex-column col-12 col-lg-6 p-0">
                        <label for="Icon" class="drag-and-drop-preview m-0">
                            <img src="" id="previewMain" class="drag-and-drop-preview-main d-none" />
                        </label>
                        @Html.TextBoxFor(m => m.Icon, new { type = "file", @class = "drag-and-drop-file", accept = "image/png, image/jpeg, image/jpg" })
                        @Html.ValidationMessageFor(m => m.Icon, "", new { @class = "text-danger" })
                        <i class='fa fa-times drag-and-drop-remove'></i>
                    </div>
                    <script defer src="~/Scripts/DragAndDropSingle.js"></script>



                </div>




                <div class="form-group" align="center">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Wyślij" class="btn btn-success" style="font-size: 20px" />
                    </div>
                </div>


            }
        }
        else
        {
            <h2 style="text-align: center">Już wkrótce dostępne!</h2>
        }
    </div>
</div>
@Html.Partial("_Loading")
