@model List<CzyDobre.Models.AspNetRating>
@using CzyDobre.Models
@{
    ViewBag.Title = "Zarządzaj zdjęciami";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    DBEntities db = new DBEntities();
}
<div class="role-div">
    <h2 style="text-align: center;">Zarządzaj zdjęciami</h2>
    <div>
        <a class="btn btn-success" href="javascript:void(0);" onclick="history.go(-2);">Wróć do Moich Opinii</a>
    </div>
    
    <div style="text-align: center;">@Html.Partial("_Notifications")</div>
    <hr />
    <div class="table">
        <table id="produkty" class="table table-bordered table-hover display">
            <thead>
                <tr class="table-role">
                    <th>Zdjęcia</th>

                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>

                @{
                    string brakZdjecia = "https://res.cloudinary.com/czydobre-pl/image/upload/v1639157376/CzyDobre-www/Brak-zdjecia_fnfpal.png";
                    string urlCzydobre = "https://res.cloudinary.com/czydobre-pl/image/upload/v1639154117/CzyDobre-images/";

                }

                @foreach (var item in Model.Where(s => s.Id_Rating == (int)Session["idRating"]))
                {
                    var listaZdjecUrl = db.AspNetRatingPictures.Where(u => u.Id_Rating == item.Id_Rating).Select(u => u.Url).ToList();
                    foreach (var img in listaZdjecUrl)
                    {
                        <tr>

                            <td>
                                @{



                                    {
                                        var url = urlCzydobre + img;
                                        if (img != null)
                                        {
                                            <img src="@url" alt="Zdjęcie produktu" style=" display: block; margin-left: auto; margin-right: auto ; height: 300px; width: 350px; ">
                                        }
                                        else
                                        {
                                            <img src="@brakZdjecia" alt="Brak zdjęcia produktu" style=" display: block; margin-left: auto; margin-right: auto ; height: 300px; width: 350px; ">
                                        }
                                    }
                                }

                            </td>


                            <td>
                                @{
                                    var id = db.AspNetRatingPictures.Where(u => u.Url == img).Select(m => m.Id_Picture).FirstOrDefault();



                                }
                                @Html.ActionLink("Zmień zdjęcie", "ChangeIMG", "MyOpinion", new { id, idRating = item.Id_Rating }, new { @class = "btn btn-primary" })
                                <hr />
                                @if (listaZdjecUrl.Count > 1)
                                {



                                    @Html.ActionLink("Usuń zdjęcie", "DeleteIMG", "MyOpinion", new { id }, new { @class = "btn btn-danger", onclick = "return confirm('Czy na pewno chcesz PERMANENTNIE USUNĄĆ to zdjęcie?');" })
                                }

                            </td>





                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#produkty').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/pl.json"
                }
            });
        });
    </script>
}