@model List<CzyDobre.Models.AspNetRating>
@using CzyDobre.Models
@{
    ViewBag.Title = "Moje Opinie";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    DBEntities db = new DBEntities();
}
<div class="role-div">
    <h2 style="text-align: center;">Lista opinii</h2>
    <div style="text-align: center;">@Html.Partial("_Notifications")</div>
    <hr />
    <div class="table">
        <table id="produkty" class="table table-bordered table-hover display">
            <thead>
                <tr class="table-role">
                    <th>Nazwa produktu</th>
                    <th>Treść opinii</th>
                    <th>Zdjęcia</th>
                    <th>Weryfikacja</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @{ var queru = db.AspNetUsers.Where(s => s.UserName == User.Identity.Name).Select(s => s.Id).FirstOrDefault();
                    

                }
                @foreach (var item in Model.Where(s => s.AspNetUser.UserName == User.Identity.Name))
                {
                <tr>
                    <td>
                        @{
                            var wynikProduktNazwa = db.AspNetProducts.Where(u => u.Id_Product == item.Id_Product).Select(u => u.ProductName).FirstOrDefault();
                        }
                        @wynikProduktNazwa
                    </td>

                    <td>
                        @{
                            var wynikKomentarz = db.AspNetRatings.Where(u => u.Id_Product == item.Id_Product && u.Who == queru).Select(u => u.Comment).FirstOrDefault();
                        }
                        @wynikKomentarz

                    </td>
                    <td>
                        @{
                            string brakZdjecia = "https://res.cloudinary.com/czydobre-pl/image/upload/v1639157376/CzyDobre-www/Brak-zdjecia_fnfpal.png";
                            string urlCzydobre = "https://res.cloudinary.com/czydobre-pl/image/upload/v1639154117/CzyDobre-images/";
                            var listaZdjecUrl = db.AspNetRatingPictures.Where(u => u.Id_Rating == item.Id_Rating && u.AspNetRating.Who == queru).Select(u => u.Url).ToList();

                            for (int i = 0; i < listaZdjecUrl.Count; i++)
                            {
                                var url = urlCzydobre + listaZdjecUrl[i];
                                if (listaZdjecUrl[i] != null)
                                {
                                    <img src="@url" alt="Zdjęcie produktu" width="200" height="200">
                                }
                                else
                                {
                                    <img src="@brakZdjecia" alt="Brak zdjęcia produktu" width="200" height="200">
                                }
                            }
                        }
                        
                    </td>


                    @if (item.CzyDobre == true)
                    {
                        <td>Tak ✔️ </td>
                    }
                    else if (item.Objections != null && item.CzyDobre == false)
                    {
                        <td>Nie ❌<br />Zastrzeżenie: @item.Objections</td>
                    }
                    else
                    {
                        <td>Nie ❌</td>

                    }
                <td>
                    @Html.ActionLink("Edytuj opinię", "Editor", "MyOpinion", new { idRating = item.Id_Rating }, new { @class = "btn btn-primary" })
                    <hr />
                    @Html.ActionLink("Usuń opinię", "DeleteO", "MyOpinion", new { idRating = item.Id_Rating, idProduct = item.Id_Product, nazwaProduktu = wynikProduktNazwa }, new { @class = "btn btn-danger", onclick = "return confirm('Czy na pewno chcesz PERMANENTNIE USUNĄĆ opinię?');" })
                </td>
                    
                     
                        
                    

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#produkty').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/pl.json"
                }
            });
        });
    </script>
}