@model CzyDobre.Models.AspNetRating
@{
    ViewBag.Title = "Objections";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<div>
    <h2 style="text-align: center;">Dodaj zastrzeżenie do opinii</h2>
    <hr />
    @using (Html.BeginForm("AddObjections", "Opinia", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "Loading()" }))
    {
        <div class="container">
            @Html.HiddenFor(m => m.Id_Rating)
            @Html.HiddenFor(m => m.RateService)
            @Html.HiddenFor(m => m.RateTaste)
            @Html.HiddenFor(m => m.RateIngredients)
            @Html.HiddenFor(m => m.RateComposition)
            @Html.HiddenFor(m => m.Comment)
            @Html.HiddenFor(m => m.CzyDobre)
            @Html.HiddenFor(m => m.RateTotal)
            @Html.HiddenFor(m => m.Id_Product)
            @Html.HiddenFor(m => m.Who)
            @Html.HiddenFor(m => m.Date)
            <div class="form-group">
                @Html.Label("Treść zastrzeżenia", new { @class = "col-md-2 control-label" })
                @Html.TextAreaFor(m => m.Objections, new { placeholder = "Należy napisać co wymaga poprawy w opinii, aby został zatwierdzony pomyślnie", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Objections, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" align="center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zapisz zmiany" class="btn btn-success" onclick="return confirm('Czy na pewno chcesz ZAPISAĆ ZMIANY?');" style="font-size: 20px" />
                    @Html.ActionLink("Wróć do listy", "OpiniaList", "Opinia", null, new { @class = "btn btn-info" })
                </div>
            </div>
            <div style="text-align: center;">@Html.Partial("_Notifications")</div>
        </div>
    }
</div>
@Html.Partial("_Loading")
