@model CzyDobre.Models.AspNetUser
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<div>
    <h2 style="text-align: center;">Edytuj użytkownika</h2>
    <hr />
    @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "Loading()" }))
    {
        <div class="container">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PasswordHash)
            @Html.HiddenFor(m => m.SecurityStamp)
            @Html.HiddenFor(m => m.PhoneNumber)
            @Html.HiddenFor(m => m.PhoneNumberConfirmed)
            @Html.HiddenFor(m => m.TwoFactorEnabled)
            @Html.HiddenFor(m => m.LockoutEndDateUtc)
            @Html.HiddenFor(m => m.LockoutEnabled)
            @Html.HiddenFor(m => m.AccessFailedCount)
            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.BanComment)
            @Html.HiddenFor(m => m.WhoGaveBan)
            @Html.HiddenFor(m => m.LastBanDays)
            <div class="form-group">
                @Html.Label("Adres Email", new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Potwierdzenie Adresu Email:  ", new { @class = "control-label" })
                @Html.DropDownListFor(m => m.EmailConfirmed, new[] {
                 new SelectListItem() {Text = "Potwierdzony", Value = bool.TrueString},
                 new SelectListItem() {Text = "Nie potwierdzony", Value = bool.FalseString}
                 })
                @Html.ValidationMessageFor(m => m.EmailConfirmed, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Imię", new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Nazwisko", new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Nick", new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NickName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Awatar Url", new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.AvatarUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AvatarUrl, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" align="center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zapisz zmiany" class="btn btn-success" onclick = "return confirm('Czy na pewno chcesz ZAPISAĆ ZMIANY?');" style="font-size: 20px" />
                    @Html.ActionLink("Wróć do listy", "UserList", "User", null, new { @class = "btn btn-info"})
                </div>
            </div>
            <div style="text-align: center;">@Html.Partial("_Notifications")</div>
        </div>
    }
</div>
@Html.Partial("_Loading")
