@model List<CzyDobre.Models.AspNetUser>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}
<div class="role-div">
    <h2 style="text-align: center;">Lista użytkowników</h2>
    <div style="text-align: center;">@Html.Partial("_Notifications")</div>
    <hr />
    <div class="table">
        <table id="users" class="table table-bordered table-hover display">
            <thead>
                <tr class="table-role">
                    <th>ID</th>
                    <th>Email</th>
                    <th>Potwierdzony email</th>
                    <th>Zablokowany</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Nick</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Email</td>
                        @if (item.EmailConfirmed == true)
                        {
                            <td>Tak ✔️</td>
                        }
                        else
                        {
                            <td>Nie ❌</td>
                        }

                        @if (item.LockoutEndDateUtc != null)
                        {
                            int result = DateTime.Compare((DateTime)item.LockoutEndDateUtc, DateTime.Now);

                            if(result < 0)
                            {
                                <td style="color: blue;">KONIEC BLOKADY @item.LockoutEndDateUtc</td>                            
                            }
                            else
                            {
                                <td style="color: red;">DO @item.LockoutEndDateUtc</td>                            
                            }                                                                           
                        }
                        else
                        {
                            <td>Nie</td>
                        }

                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.NickName</td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", "User", new { item.Id, item.Email, item.EmailConfirmed, item.PasswordHash, item.SecurityStamp, item.PhoneNumber, item.PhoneNumberConfirmed, item.TwoFactorEnabled, item.LockoutEndDateUtc, item.LockoutEnabled, item.AccessFailedCount, item.UserName, item.FirstName, item.LastName, item.NickName, item.LastBanDays, item.BanComment, item.WhoGaveBan }, new { @class = "btn btn-primary" })
                            <hr />
                            @Html.ActionLink("Usuń", "Delete", "User", new { idUser = item.Id, nick = item.NickName, email = item.Email}, new { @class = "btn btn-danger", onclick = "return confirm('Czy na pewno chcesz PERMANENTNIE USUNĄĆ użytkownika?');" })
                            <hr />
                            @if (item.LockoutEndDateUtc == null)
                            {
                                @Html.ActionLink("Blokuj", "Ban", "User", new { item.Id, item.Email, item.EmailConfirmed, item.PasswordHash, item.SecurityStamp, item.PhoneNumber, item.PhoneNumberConfirmed, item.TwoFactorEnabled, item.LockoutEndDateUtc, item.LockoutEnabled, item.AccessFailedCount, item.UserName, item.FirstName, item.LastName, item.NickName, item.LastBanDays, item.BanComment, item.WhoGaveBan }, new { @class = "btn btn-warning" })
                            }
                            else
                            {
                                @Html.ActionLink("Odblokuj", "UnBanUser", "User", new { itemId = item.Id, itemEmail = item.Email, itemEmailConfirmed = item.EmailConfirmed, item.PasswordHash, itemSecurityStamp = item.SecurityStamp, itemPhoneNumber = item.PhoneNumber, itemPhoneNumberConfirmed = item.PhoneNumberConfirmed, itemTwoFactorEnabled = item.TwoFactorEnabled, itemLockoutEndDateUtc = item.LockoutEndDateUtc, itemLockoutEnabled = item.LockoutEnabled, itemAccessFailedCount = item.AccessFailedCount, itemUserName = item.UserName, itemFirstName = item.FirstName, itemLastName = item.LastName, itemNickName = item.NickName, itemLastBanDays = item.LastBanDays, itemBanComment = item.BanComment, itemWhoGaveBan = item.WhoGaveBan }, new { @class = "btn btn-secondary", onclick = "return confirm('Czy na pewno chcesz ODBLOKOWAĆ użytkownika?');" })
                                <hr />
                                @Html.ActionLink("Edytuj Blokadę", "UnBanEdit", "User", new { item.Id, item.Email, item.EmailConfirmed, item.PasswordHash, item.SecurityStamp, item.PhoneNumber, item.PhoneNumberConfirmed, item.TwoFactorEnabled, item.LockoutEndDateUtc, item.LockoutEnabled, item.AccessFailedCount, item.UserName, item.FirstName, item.LastName, item.NickName, item.LastBanDays, item.BanComment, item.WhoGaveBan }, new { @class = "btn btn-dark" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#users').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/pl.json"
                }
            });
        });
    </script>
}