@model List<CzyDobre.Models.AspNetUser>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="role-div">
    <h2>Użytkownicy</h2>
    <div style="text-align: center;">@Html.Partial("_Notifications")</div>
    <hr />
    <div class="table">
        <table id="users" class="table table-bordered table-hover display">
            <thead>
                <tr class="table-role">
                    <th>ID</th>
                    <th>Email</th>
                    <th>EmailConfirmed</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>NickName</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Email</td>
                        <td>@item.EmailConfirmed</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.NickName</td>
                        <td>
                            <a href="@Url.Action("Edit", "User", new {item.Id, item.Email, item.EmailConfirmed, item.PasswordHash, item.SecurityStamp, item.PhoneNumber, item.PhoneNumberConfirmed, item.TwoFactorEnabled, item.LockoutEndDateUtc, item.LockoutEnabled, item.AccessFailedCount, item.UserName, item.FirstName, item.LastName, item.NickName})" class="btn btn-primary">Edytuj</a>
                            <hr />
                            <a class="btn btn-danger" href="@Url.Action("Delete", "User" , new { idUser = item.Id, nick = item.NickName})">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#users').DataTable();
        });
    </script>
}